<div class="site-categories">
  <hr>
  <ul class="category-ul">
    {% for category in site.categories %}
      <li>
        <div class="category-item">{{ category | first }}({{ category | last | size }})</div>
        <ul class="post-ul">
          {% assign cat = category | first %}
          {% for post in site.categories[cat]  %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <hr>
</div>
