---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author}}</p>

{{content}}

<!-- 文章目录 -->
<link rel="stylesheet" href="{{ "/assets/css/poss.css?v=" | append: site.github.build_revision | relative_url }}">
<script src="{{ "/assets/js/scrollnav.min.umd.js" | relative_url}}"></script>

<script>
    const ct = document.querySelector('.post-content');  //".post-content"指向文章内容所在的div，需根据实际情况修改
    scrollnav.init(ct, { 
        debug: false,
        easingStyle: 'linear',
        //section为一级目录，subsection为二级目录
        //以下两行意为h3为一级目录，h4为二级目录（个人只需要一级目录，所以注释了二级目录）
        sections: ($('.post-content > h1').length>0) ? 'h2' : 'h3',  
        // subSections: ($('.post-content > h1').length>0) ? 'h3' : 'h4',
    });
</script>