---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author}}</p>

{{content}}

<!-- 文章目录 -->
<link rel="stylesheet" href="{{ "/assets/css/poss.css?v=" | append: site.github.build_revision | relative_url }}">
<!-- 引入插件 -->
<script src="{{ "/assets/js/scrollnav.min.umd.js" | relative_url}}"></script>

<script>
    const ct = document.querySelector('.post-content');  //".post-content"指向文章内容所在的div，需根据实际情况修改
    // 直接调用初始化接口与demo中一致
    scrollnav.init(ct, { 
        debug: false,
        // 一级目录
        sections: 'h2', 
        // 二级目录
        subSections: 'h3',
    });
</script>